# Configuración de API
VITE_API_URL=http://localhost:4000/api

# Secreto para el cifrado AES-GCM (Frontend -> Backend)
# Debe ser el mismo en ambos proyectos (.env del Frontend y del Backend)
VITE_ENCRYPTION_SECRET=tu_secreto_super_seguro_y_largo_aqui

# Configuración de Supabase
VITE_SUPABASE_URL=https://aqfybhduohwsecfbjylk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxZnliaGR1b2h3c2VjZmJqeWxrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NzQ2MjYsImV4cCI6MjA4OTU1MDYyNn0.gLBQjv0cahFJO3n3MUXOhucMOgPVX0CblyQzMZwR4Po
